@model IEnumerable<MVCAssignment.Models.Category>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2 style="border-radius: 20px; margin-left: 40%; text-align: center; padding: 1%; margin-bottom: 4%; box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px; width: 20%">CATEGORY</h2>
<button type="button" class="btn btn-primary mb-3" data-bs-toggle="modal" data-bs-target="#exampleAddModal">
    Add Category
</button>
<table id="categoryTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CategoryId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CategoryName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedOn)
            </th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr id="row_@item.CategoryId">
                <td>
                    @Html.DisplayFor(modelItem => item.CategoryId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CategoryName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedOn)
                </td>
                <td>
                    <button type="button" onclick="CatEdit('@Json.Encode(item)')" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleEditModal">
                        Edit
                    </button>
                    <button type="button" onclick="CatDelete(@item.CategoryId)" class="btn btn-danger mx-2" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        Delete
                    </button>
                </td>
            </tr>
        }
    </tbody>
</table>
@************************ADD Modal Start***********@

<!-- Modal -->
<div class="modal fade" id="exampleAddModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">ADD CATEGORY</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form>
                <div class="modal-body">
                    <h4> <label>Category Name</label></h4>
                    <input type="text" name="CategoryName" value="" placeholder="Category Name" style="width:100%;padding:5px" id="CatName" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" id="SaveCategory" class="btn btn-primary">ADD </button>
                </div>
            </form>
        </div>
    </div>
</div>
@************************ADD Modal End***********@
@************************Delete Modal ***********@

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">DELETE</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form>
                <div class="modal-body">
                    <input id="DelCategoryId" hidden />
                    <h2> Are You Sure to Delete !</h2>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-danger" id="DeleteData">Delete</button>
                </div>
            </form>
        </div>
    </div>
</div>

@************************Delete Modal End***********@
@************************EDIT Modal Start***********@


<!-- Modal -->
<div class="modal fade" id="exampleEditModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h4> <label>Category Name</label></h4>
                <input id="CatEditId" hidden />
                <input type="text" name="CategoryName" value="" style="width: 100%; padding: 5px;" id="EditCategoryName" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary" id="EditCategoryData">Save changes</button>
            </div>
        </div>
    </div>
</div>
@************************ EDIT Modal End***********@


<input type="hidden" id="hiddenCatid" name="" Catid" />
@section scripts {
    <script>
        $(document).ready(function () {
            $('#categoryTable').DataTable();
        });
        $("#SaveCategory").click(() => {
            var CatName = $("#CatName").val();
            $.ajax({
                type: 'POST',
                url: '/Category/Insert',
                data: { CategoryName: CatName },
                success: function (response) {
                    $("body").html(response);

                }
            })
        });

    function CatDelete(CategoryId) {
        $("#hiddenCatid").val(CategoryId);
    }
    $(document).ready(function () {
        $("#DeleteData").click(() => {
            var catId = $("#hiddenCatid").val();
            $.ajax({
                type: 'POST',
                url: '@Url.Action("Delete","Category")',
                data: { id: catId },
                success: function (response) {
                    $("#row_" + id).remove();
                    console.log("Hello");
                    debugger
                }
            })
        });

    })
        var Editcategory;
        function CatEdit(Category) {
            Editcategory = JSON.parse(Category)
            $("#EditCategoryName").val(Editcategory.CategoryName)
            $("#CatEditId").val(Editcategory.CategoryId)

        }
        $("#EditCategoryData").click(() => {
            var CatNameEdit = $("#EditCategoryName").val();
            var id = $("#CatEditId").val();

            $.ajax({
                type: 'POST',
                url: '/Category/Edit',
                data: { CategoryName: CatNameEdit, CategoryId:id },
                success: function (response) {
                    $("body").html(response);

                }
            })
        });
        $(document).ajaxStop(function () {
            window.location.reload();
        });



    </script>
}
